.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.content-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: flex-end;
}










.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}


.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
















.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}


.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}



.container {
    width: 800px;
}

.margin-left-auto {
    margin-left:auto;
}

.margin-right-auto {
    margin-right:auto;
}